<ion-content padding>

  <ion-item-group *ngFor="let quoteGroup of collection">
    <ion-item-divider color="light" text-center *ngIf="quoteGroup.id == 1">
      <h2 text-center>CATEGORY 1</h2>
      <ion-buttons end >
        <button style="height: 30px; width: 30px; background: #4DDF63; color: #ffffff;" (click)="onShowOptions($event)"><ion-icon name="cart"></ion-icon></button>
      </ion-buttons>
    </ion-item-divider>


    <ion-item-divider color="light" text-center *ngIf="quoteGroup.id == 4">CATEGORY 2</ion-item-divider>
    <ion-item  no-lines>
      <ion-thumbnail item-left>
        <img [src]="quoteGroup.image">
      </ion-thumbnail>
      <ion-row>
        <ion-col col-6 text-center>
          <h2>Price</h2>
          <p>{{quoteGroup.prize}} BDT</p>
        </ion-col>
        <ion-col col-6 text-center>
          <h2>Quantity</h2>
          <p>{{quoteGroup.quantity}} pics</p>
        </ion-col>
      </ion-row>
      <button ion-button clear item-right style="border: 1px solid #4DDF63;" (click)="addCart(quoteGroup)"><ion-icon name="add"></ion-icon></button>
      <button ion-button clear item-right style="border: 1px solid #4DDF63;" (click)="removeCart(quoteGroup)"><ion-icon name="remove"></ion-icon>
      </button>
    </ion-item>
  </ion-item-group>

  <button style="margin-top:30px; background: #ffffff; color: #4DDF63; border-radius: 6px;"
          ion-button block [navPush]="pItemPage">Purchase Item
  </button>
</ion-content>
