<ion-header>
  <ion-navbar  color="primary">
    <ion-title text-center>Purchase Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list  *ngFor="let quoteGroup2 of collection">
    <ion-item *ngIf="quoteGroup2.quantity" no-lines>
      <ion-thumbnail item-left >
        <img [src]="quoteGroup2.image">
      </ion-thumbnail>
      <h2>Total {{quoteGroup2.prize * quoteGroup2.quantity}} BDT</h2>
      <p>Total {{quoteGroup2.quantity}} Items</p>
    </ion-item>
  </ion-list>


  <button text-center style="height: 30px; color: #ffffff; background: #4DDF63" block>
    <h5>Total {{amount}} BDT</h5>
  </button>

</ion-content>
