.ios,.md{
  page-purchage-item {

    ion-item{
      width: 96%;
      margin: 10px 2%;
      padding: 20px;
      -webkit-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.30);
      -moz-box-shadow:0px 4px 15px -4px rgba(0,0,0,0.30);
      box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.30);
      border-radius: 5px;
      max-height: 80px;
    }
    ion-content{
      background: #4DDF63;
    }

  }
}
