<ion-grid>
  <ion-row text-center>
    <ion-col>
      <h3>Added Items</h3>
    </ion-col>
  </ion-row>

  <ion-row text-center style="align-items: center;">
    <ion-list  *ngFor="let quoteGroup2 of collection">
      <ion-item style="align-items: center;"
                *ngIf="quoteGroup2.quantity">
        <ion-avatar item-left >
          <img [src]="quoteGroup2.image">
        </ion-avatar>

        <h2 text-wrap>{{quoteGroup2.prize * quoteGroup2.quantity}} BDT</h2>
        <p text-wrap>Total {{quoteGroup2.quantity}} Items</p>
        <button ion-button clear item-right
                (click)="onAction(quoteGroup2)" >Delete</button>
      </ion-item>
    </ion-list>
  </ion-row>

</ion-grid>
